<!DOCTYPE html>
<html>
  <head>
    <title> Best Careers!</title>
    {%include 'bootstrap.html'%}
 
   
   </head>
    <body>
      {%include 'nav.html'%}
      {%include 'banner.html'%}
      <div class="container">
    <h1 class = "text-center mt-4 mb-4"> BEST CAREERS</h1> 
     
    <div class = "row">
        <div class = "col-md-6">
      <p class="lead mt-8">"Welcome to our website's 
     careers section!<br>
    At <strong>Best Careers</strong>, we believe 
    in fostering a vibrant and diverse team that 
    drives innovation and growth.
    Finding the perfect job can be a challenging 
    task, but we're here to make the process 
    easier for you. Our website is dedicated to 
    helping job seekers like you navigate the ever- evolving job 
    market and discover exciting career opportunities.
      </p>
        </div>
        <div class = "d-none d-md-block col-3">
        <img src = "static/Office.jpg" style = "height:280px;">
        </div>
        <div>
          <h2 class = "text-center">Job Openings</h2>
        </div>
         <div>
           {%for job in jobs %}
            {% include 'jobitem.html'%}
           {% endfor %}
         </div>
 
    <div class="text-center"> 
     <a
       type="button" 
         href= "mailto:klimasja@mail.ru?subject=Question%20about%20careears" 
         class="btn btn-dark">
       Contact Us
     </a>
     </div>
   </div>
      {% include 'footer.html' %}
  </body>
</html>

