<div class="border-bottom row" style="margin-bottom:16px; padding-bottom:4px"> 
  <div class="col-9">
    <h4 
      style="color:rgb(120,120,120);margin-bottom:8px">
      {{job['title']}}
    </h4>
    <div>
      <b>Location:</b> {{job['location']}}
    </div>
    {% if 'salary' is in job %}
    <div>
      <b>Salary:</b> {{job['salary']}}
    </div>
 {% endif %}
  </div>
  <div class="col-3">
     <a  href="mailto:klimasja@mail.ru?subject=Application%20for%20{{job['title']}}&body=My%20name%20%3CType%20your%20name%3E%0D%0A%0D%0ALink%20to%20CV%3A%0D%0A%0D%0ALinkedIn%3A" 
         type="button" 
        class="btn btn-outline-dark" 
        style = "text-right"> APPLY </a>
  </div>
 
    
</div>
  